.clearfix:before, .clearfix:after{
    display: table;
    content: "";
    line-height: 0;
}
.clearfix:after {
    clear: both;
}


body{
    font-size: 62.5%;
}

footer{
    width: 100%;
    position: fixed;
    bottom: 0;
}

header{
    width: 100%;
    position: fixed;
    top: 0;
}

nav{
    position: fixed;
    top:40px;
    bottom: 20px;
    width: 20%;
    left: 0;
}

main{
    position: fixed;
    overflow: auto;
    top: 50px;
    bottom: 210px;
    width: 80%;
    height: 85%;
    right: 0;
}

.error-text{
    font-size: 1.5em;
    color: #a00;
}

#header{
    font-size: 2.6em;
    color: darkblue;
}

#footer{
    font-size: 1.6em;
    text-align: center;
}

.error-message{
    text-align: center;
    font-size: 2.5em;
    color: darkblue;
}

#logout-link{
    float: right;
    font-size: 2.0em;
    color: darkblue;
    margin-right: 20px;
}