.news-list-wrapper{
    width: 90%;
    height: 550px;
    margin: 0 auto;
    position: relative;
}

.filter-wrapper > span{
    float: left;
    width: auto;
}

.pagination{
    display: inline-block;
    position: absolute;
    bottom: 0;
    right: 0;
    margin:0 auto;
}

#tags-select{
    width: 150px;
    margin-right: 30px;
}

#author-select{
    width: 20%;
}

.news-list-wrapper input[type=checkbox], .edit-link{
    float: right;
    margin-left: 10px;
}

.edit-link {
    color: #50CCC6;
    font-size: 1.5em;
}

#deleteButton{
    float: right;
}

#resetButton, #filterButton{
    float: right;
}

.filter-wrapper{
    font-size: 1.5em;
    margin-bottom: 20px;
}

.filter-wrapper span{
    margin-left: 10%;
}

.filter-wrapper span, .filter-wrapper button, .filter-wrapper select{
    vertical-align: middle;
}

.comment-text{
    float: right;
    color: #a00;
    font-size: 1.5em;
}