.list-item {
    margin-bottom: 5px;
}

.list-wrapper {
    float: left;
    margin-left: 30%;
}

.list-item input {
    font-size: 1.68em;
}

.list-item span {
    margin-left: 50px;
    font-size: 1.68em;
}

.login_wrapper {
    width: 30%;
    margin: 0 auto;
}

.full_input {
    width: 100%;
    margin-bottom: 10px;
}

#news-content {
    font-size: 1.6em;
}

.news-wrapper {
    margin-bottom: 20px;
}

.news-title {
    font-size: 2.50em;
}

.news-author {
    font-size: 1.5em;
    margin-left: 30px;
}

.news-short-text {
    font-size: 1.4em;
}

.news-full-text {
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 2.0em;
}

.news-tag {
    font-size: 1.5em;
    margin-right: 20px;
    color: #bbb;
}

.comment, .writing-comment-field {
    font-size: 1.8em;
    background-color: #eee;
    margin-top: 10px;
    width: 100%;
    word-wrap: break-word;
}

.comments-section {
    margin-top: 20px;
    width: 50%;
}

.comment-date {
    font-size: 0.7em;
    float: right;
}

.news-date {
    margin-top: 10px;
    margin-right: 10px;
    float: right;
    font-size: 1.3em;
}

.comment-date-wrapper {
    background-color: #fff;
}

.writing-comment-field {
    resize: vertical;
}

.send-button {
    margin-top: 10px;
    float: right;
}

.brief-text, .full-text {
    margin-top: 20px;
    width: 100%;
    resize: vertical;
}

.brief-text {
    height: 10%;
}

.full-text {
    height: 20%;
}

.edit-block {
    margin-top: 20px;
}

.delete-link, .list-item span {
    cursor: pointer;
    text-decoration: underline;
    color: darkblue;
}

.delete-link {
    float: right;
}

.edit-block label, .edit-block select, .edit-block input {
    font-size: 1.5em;
}

.select#tags {
    width: 20%;
}

.submit-btn {
    float: right;
}