.news-title{
    font-size: 2.50em;
}

.news-author{
    font-size: 1.5em;
    margin-left: 30px;
}

.news-date{
    margin-top: 10px;
    margin-right: 10px;
    float: right;
    font-size: 1.3em;
}

.news-short-text{
    font-size: 1.4em;
}

.news-full-text{
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 2.0em;
}

.news-tag{
    font-size: 1.5em;
    margin-right: 20px;
    color: #bbb;
}

.news-wrapper{
    margin-bottom: 20px;
}

#news-content{
    font-size: 1.6em;
}

.comment, .writing-comment-field{
    font-size: 1.8em;
    background-color: #eee;
    margin-top: 10px;
    width: 100%;
    word-wrap: break-word;
}

.comments-section{
    margin-top: 20px;
    width: 50%;
}

.comment-date{
    font-size: 0.7em;
    float: right;
}

.news-date{
    margin-top: 10px;
    margin-right: 10px;
    float: right;
    font-size: 1.3em;
}

.comment-date-wrapper{
    background-color: #fff;
}

.writing-comment-field{
    resize: vertical;
}

.send-button{
    margin-top: 10px;
    float: right;
}